@font-face {
	font-family: 'Gilroy';
	font-style: bold;
	font-weight: 700;
	src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'), url(fonts/gilroyextrabold.woff2) format('woff2');
}

@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 400;
	src: local('Gilroy Light'), local('Gilroy-Light'), url(fonts/gilroylight.woff2) format('woff2');
}

body {
	margin: 0;
	padding: 0;

	font-family: "Open Sans", Arial, sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
	color: #464646;

	background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
	text-decoration: none;
}

.header-middle,
.main-navigation {
	background-color: #f7e296;
}

.main-logo {
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 48px;
	font-weight: 700;
	line-height: 48px;
	color: #000000;
	text-transform: uppercase;
}

.logo-link:hover,
.logo-link:focus {
	opacity: 0.6;
}

.logo-link:active {
	opacity: 0.3;
}

.search-button {
	font: inherit;
	text-align: center;
	vertical-align: middle;

	background-color: transparent;
	border: 2px solid #000000;
}

.search-button:hover,
.search-button:focus {
	color: #ffffff;

	background-color: #000000;
}

.search-button:active{
	color: rgba(255, 255, 255, 0.3);;
}

.search-form input {
	font: inherit;
	vertical-align: middle;
	color: rgba(0, 0, 0, 0.3);

	background-color: transparent;
	border: none;
}

.search-form input:hover {
	color: rgba(0, 0, 0, 0.6);

}
/* Непонятно, как менять цвет при наведении у placeholder в input. Поэтому вместо placeholder="Поиск по сайту" поставил value="Поиск по сайту" */
.search-form input:focus {
	color: #000000;

	border-bottom: 2px solid #000000;
}

.user-navigation,
.site-navigation,
.site-navigation-submenu {
	list-style: none;
}

.user-navigation a,
.site-navigation a {
	color: #000000;
}

.user-navigation a:hover:not(.user-name),
.user-navigation a:focus,
.site-navigation a:hover,
.site-navigation a:focus  {
	opacity: 0.6;
}

.user-navigation a:active:not(.user-name),
.site-navigation a:active  {
	opacity: 0.3;
}

.user-navigation .logout-link {
	opacity: 0.3;
}

.user-navigation a.logout-link:hover {
	opacity: 0.6;
}

.user-navigation a.logout-link:active {
	opacity: 1;
}

.site-navigation-menu {
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/* Это все ради белого порядкового намера в списке? Подумать! */
.popular-list{
	list-style: none;
}
/*
.popular-item {
	color: #464646;
}
*/

.popular-item-slogan {
	font-size: 47px;
	font-weight: 700;
	line-height: 56px;
	color: #000000;
}

.popular-item-desc {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
	color: #464646;
}

.popular-item-spec th {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 13px;
	font-weight: 300;
	line-height: 20px;
	color: #464646;
}

.popular-item-spec tr {
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 36px;
	font-weight: 300;
	line-height: 48px;
	color: #000000;
}

.btn {
	display: inline-block;
	padding: 8px 44px;
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	color: #000000;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
	
	background-color: transparent;
	background-image: linear-gradient(to bottom, transparent 16px, #f0c52e 16px, #f0c52e 24px, transparent 24px);
	border: none;
}

.btn:hover,
.btn:focus {
	background-color: #f0c52e;
}

.btn:active {
	color: rgba(0, 0, 0, 0.3);
}

.categories-list {
	list-style: none;
}

.category-item h3 {
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	color: #000000;

	background-color: #ffffff;
}

.category-item-image {
	background-color: #f7e296;
}

.category-item-image:hover,
.category-item-image:active {
	background-color: #f0c52e;
}

.servises-slider {
	background-color: #ffffff;
}

.servises-list {
	list-style: none;

	background-color: #e5e5e5;
}

.servise-btn {
	padding: 8px 25px;
}

.servise-item input:checked + .servise-btn {
	padding-right: 143px;

	color: #f7e184;

	background-image: none;
	background-color: #000000;
}
/* Стоит подумать!!!
.servise-item input:focus + .servise-btn {
	outline: blue auto 5px;
}
*/
.servise-item-content h3 {
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 47px;
	line-height: 48px;
	font-weight: 700;
	color: #000000;
}

.brands-list {
	list-style: none;
}

.about-us h2,
.contacts h2 {
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 47px;
	line-height: 48px;
	font-weight: 700;
	color: #000000;
}

.upper {
	text-transform: uppercase;
}

.shipping-partners-list {
	list-style: none;
}

.shipping-partner-item {
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 16px;
	line-height: 40px;
	font-weight: 700;
	color: #000000;
}

.main-footer {
	color: #ffffff;

	background-color: #464646;
}

.footer-logo {
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 48px;
	font-weight: 700;
	line-height: 48px;
	color: #ffc600;
	text-transform: uppercase;
}

.user-navigation-footer {
	list-style: none;
}

.user-navigation-footer a {
	color: #ffffff;
	opacity: 0.7;
}

.user-navigation-footer a:hover:not(.user-name),
.user-navigation-footer a:focus {
	opacity: 1;
}

.user-navigation-footer a:active:not(.user-name) {
	opacity: 0.3;
}

.user-navigation-footer .logout-link {
	opacity: 0.3;
}

.user-navigation-footer a.logout-link:hover {
	opacity: 0.6;
}

.user-navigation-footer a.logout-link:active {
	opacity: 1;
}

.user-navigation-footer .user-navigation-active {
	opacity: 1;
}

.user-navigation-footer .user-navigation-active:hover:not(.user-name),
.user-navigation-footer .user-navigation-active:focus {
	opacity: 0.6;
}

.user-navigation-footer .user-navigation-active:active:not(.user-name) {
	opacity: 0.3;
}

.site-navigation-footer {
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 2px;

	list-style: none;
}

.site-navigation-footer a {
	color: #ffffff;
}

.site-navigation-footer a:hover,
.site-navigation-footer a:focus {
	opacity: 0.6;
}

.site-navigation-footer a:active {
	opacity: 0.3
}

.footer-contacts-phone {
	color: #ffffff;
}

.footer-contacts-phone:hover,
.footer-contacts-phone:focus {
	color: rgba(255, 255, 255, 0.6);
}

.footer-contacts-phone:active {
	color: rgba(255, 255, 255, 0.3);
}

.footer-social {
	list-style: none;
}

.social-btn {
	color: rgba(255, 255, 255, 0.3);
}

.social-btn:hover,
.social-btn:focus {
	color: rgba(255, 255, 255, 0.6);
}

.social-btn:active {
	color: rgba(255, 255, 255, 0.1);
}

.write-us-form label {
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	text-transform: none;
}

.write-us-form input,
.write-us-form textarea {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	color: rgba(70, 70, 70, 0.4);

	background-color: #f2f2f2;
	border: none;
}

.write-us-form input:hover,
.write-us-form textarea:hover {
	background-color: #eaeaea;
}

.write-us-form input:focus,
.write-us-form textarea:focus {
	color: #464646;

	background-color: #ffffff;
	border: 3px solid #f0c52e;
}

.page-title {
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 47px;
	font-weight: 700;
	line-height: 48px;
	color: #000000;
}

.breadcrumbs {
	list-style: none;
}

.breadcrumbs li a {
	font-size: 14px;
	line-height: 24px;
	color: #000000;
	opacity: 0.3;
}

.breadcrumbs li:not(:last-child) a:hover,
.breadcrumbs li a:focus {
	opacity: 0.6;
}

.breadcrumbs li:not(:last-child) a:active {
	opacity: 0.1;
}

.filters {
	font-size: 14px;
	line-height: 40px;
	color: #000000; 

	background-color: rgba(0, 0, 0, 0.08);
}

.filters h2 {
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.filters ul {
	list-style: none;
}

.filter fieldset {
  border: none;
}

.filter legend {
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
}

.output-area {
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
	opacity: 0.2;
}

.filter-option input:disabled + label {
	color: #a6a6a6;
}

.ordering {
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	color: #000000; 

	background-color: rgba(0, 0, 0, 0.08);
}

.ordering a:not(.order-active) {
	color: #000000;
	opacity: 0.3;
}

.ordering a:hover:not(.order-active),
.ordering a:focus {
	opacity: 0.6;
}

.ordering a:active:not(.order-active) {
	opacity: 1;
}

.ordering ul {
	list-style: none;
}

.catalog-list {
	list-style: none;
}

.catalog-item h3 {
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	color: #000000;
}

.catalog-item-price {
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
}

.compare {
	font-size: 13px;
	line-height: 20px;
	color: #000000;
	opacity: 0.5;
}

.compare:hover,
.compare:focus {
	opacity: 1;
}

.compare:active {
	opacity: 0.2;
}

.pagination-list {
	font-family: "Gilroy", Arial, sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	color: #000000;

	list-style: none;
	background-color: rgba(0, 0, 0, 0.08);
}

.pagination-item-step a,
.pagination-item-current {
	color: #000000;
}

.pagination-item-step a:hover,
.pagination-item-step a:focus {
	background-color: rgba(0, 0, 0, 0.08);
}

.pagination-item-step a:active {
	color: rgba(0, 0, 0, 0.3);
	background-color: rgba(0, 0, 0, 0.08);
}

.pagination-item a:not(.pagination-item-current) {
	color: rgba(0, 0, 0, 0.3);
}

.pagination-item a:hover:not(.pagination-item-current),
.pagination-item a:focus {
	color: rgba(0, 0, 0, 0.6);
}

.pagination-item a:active:not(.pagination-item-current) {
	color: #000000;
}